<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<title>Mithun Apps Document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-app="myapp" ng-cloak>

 <h2>this is a test page </h2>
  <div id="envelope">
    <form>
    <div class"heading">Search Transactions</div>
      <input name="name" ng-model="keyword" placeholder="Ashley Peterson" type="text" width="100%">
    </form>
  </div>



  <h1>ICICI Account summary</h1>
  <div ng-controller="BankController">

    <w3-test-directive> </w3-test-directive>

<!--
    <div style="margin:5px; background-color:red; height:200px; widht:100%">
          <input width="100%"type="text" name="search" ng-model="keyword">
          <button width="100%"> Search </button>
    </div>
-->
    <table>
      <thead style="background-color: lightgray;">
        <tr>
        <th style="width: 30px;"></th>
        <th >Transaction</th>
        <th ng-click="sortBY()">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="txn in transactions |  filter:keyword ">
          <td>
            <button ng-if="txn.expanded" ng-click="txn.expanded = false">-</button>
            <button ng-if="!txn.expanded" ng-click="txn.expanded = true">+</button>
          </td>
          <td>{{txn.Transaction}}</td>
          <td>{{txn.Amount}}</td>
        </tr>
        <tr ng-if="txn.expanded" ng-repeat-end="">
          <td >{{txn.details.date}}</td>
          <td >{{txn.details.type}}</td>
          <td >{{txn.details.party}}</td>
        </tr>
      </tbody>
    </table>


  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!--<script src="js/ng-infinite-scroll.js"> </script> -->
  <script src="js/app.js"> </script>

</body>
</html>
